<!DOCTYPE html>
<html>
<head lang="pl">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css"/>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
    {% endblock css %}
</head>
<body>
    <div id="page">
        {% include 'header.html' %}

        {% block content %}
        {% endblock content %}

        {% include 'footer.html' %}
    </div>
</body>
</html>