<nav>
    <a href="{% url 'entries#entry_list' %}">STRONA GŁÓWNA</a>
    <a href="{% url 'archive#archive' %}">ARCHIWUM</a>
    <a href="{% url 'tags#tag_list' %}">TAGI</a>
    <a href="https://github.com/pykozak">GITHUB</a>
    <a href="{% url 'feeds#latest_entries' %}">RSS</a>
    <a href="{% url 'contact#contact' %}">KONTAKT</a>
</nav>