<h3 id="komentarze">Komentarze:</h3>
{% for comment in comments %}
    <section>

        {% if comment.is_authenticated  %}
            <p><strong>{{ comment.username }}</strong></p>
        {% else %}
            <p>{{ comment.username }}</p>
        {% endif %}


        {% if user.is_authenticated %}
            <p><a href="mailto:{{ comment.email }}">{{ comment.email }}</a></p>
        {% endif %}

        {{ comment.render|safe }}
    </section>
{% endfor %}