{% extends 'base.html' %}

{% block title %}Archiwum{% endblock title %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/archive.css"/>
{% endblock %}

{% block content %}
    <div id="content">
        {% for year_month_text, entries in groups %}
            <article>
                <h1>{{ year_month_text }}</h1>

                <ul>
                    {% for entry in entries %}
                        <li><a href="{% url 'entries#entry_detail' entry.id %}">{{ entry.subject }}</a></li>
                    {% endfor %}
                </ul>
            </article>
        {% endfor %}
    </div>
{% endblock content %}