{% load comment_tags %}


<article>
    {% if show_url %}
        <h1><a href="{% url 'entries#entry_detail' entry.id %}">{{ entry.subject }}</a></h1>
    {% else %}
        <h1>{{ entry.subject }}</h1>
    {% endif %}
    <p class="date">{{ entry.published_at }}</p>

    {{ entry.render|safe }}

    {% include 'tags/tags.html' with tags=entry.get_tags %}
</article>