{% extends 'base.html' %}

{% block title %}Strona główna{% endblock title %}

{% block content %}
    {% for entry in entries %}
        {% include 'entries/entry.html' with entry=entry show_url=True %}
    {% endfor %}

    {% if page_obj.has_previous %}
        <a id="prev_page" href="{% url 'entries#entry_list_page' page_obj.previous_page_number %}">Poprzednie</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a id="next_page" href="{% url 'entries#entry_list_page' page_obj.next_page_number %}">Następne</a>
    {% endif %}

{% endblock content %}