@import url(http://fonts.googleapis.com/css?family=Lato:400);
@import url(http://fonts.googleapis.com/css?family=Merriweather:300italic&subset=latin,latin-ext);

/* OGÓLNE */

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

ul {
   list-style: disc;
}

ol {
   list-style: decimal;
}

ul, ol {
    list-style-position: inside;
}

li {
    margin-bottom: 7px;
}

blockquote p:before, blockquote p:after {
    content: '"';
}

/* CZCIONKI */

header nav a, article h1, article h2, article h3, article h4, article h5,
article h6, #next_page, #prev_page {
    font-family: 'Lato', sans-serif;
}

header h1, header p {
    font-family: 'Merriweather', serif;
}

blockquote {
   font-family: monospace;
}

/* STYLE CZCIONEK */

header h1, header p, blockquote {
    font-style: italic;
}

/* KOLORY */

article p a:hover {
    color: #427499;
}

article p a:hover {
    border-bottom: 1px dashed yellow;
}

header nav a, article h1, article h2, article h3, article h4, article h5,
article h6, article a, #next_page, #prev_page {
    color:  #205277;
}

.tag {
    background-color: #205277;
}

header nav a:hover, #next_page, #prev_page {
    border-bottom: 1px dashed #205277;
}

header p {
    color: #535353;
}

article {
    border-left: 3px dashed yellow;
}

article p, article li {
    color: #777;
}

article p.date {
    color: #808080;
}

.tag:hover {
    color: #ffff80;
}

.tag:hover {
    background-color: #427499;
}

article h1 a:hover, article p a {
    color: #316388;
}

.tag {
    color: lightgoldenrodyellow;
}

.tag {
    border-bottom: 1px solid #104166;
}

.tag {
    border-right: 1px solid #104166;
}

article blockquote {
    border-left: 2px dashed yellow;
}

/* ROZMIARY CZCIONEK */

header h1 {
    font-size: 45px;
}

article h1 {
    font-size: 40px;
}

article h2 {
    font-size: 30px;
}

article h3 {
    font-size: 28px;
}

article h4, header p, article li {
    font-size: 25px;
}

article h5 {
    font-size: 23px;
}

article h6, article p, article blockquote p {
    font-size: 20px;
}

article p.date, .tag {
    font-size: 15px;
}

/* WYRÓWNANIE */

article h1, article h2, article h3, article h4, article h5, article h6,
article p, article blockquote, article ul, article ol, article .tags {
    margin: 20px 0 5px 0;
}

article .date {
    margin: 0 0 20px 0;
}
/* SZCZEGÓŁY */

#page {
    width: 66%;
    margin: 0 auto;
}

header {
    margin: 10px 0 50px 0;
    padding: 0 30px;
    text-align: center;
}

header nav {
    padding: 10px;
}

header nav a {
    margin: 20px;
}

header img {
    display: block;
    margin: 5px auto;
}

header h1 {
    padding: 30px 0 20px;
}

article {
    margin: 0 0 50px 0;
    padding: 15px;
}

article p.date {
    text-indent: 0;
}

article p {
    text-indent: 20px;
}

article blockquote {
    padding-left: 15px;
}

article ol, article ul, article blockquote {
    margin-left: 50px;
}

.tag {
    margin: 3px;
    display: inline-block;
    padding: 3px 4px 3px 4px;
}

footer {
    text-align: center;
    margin: 20px 0;
}

#prev_page {
    margin-right: 85%;
}

#next_page {
    margin-left: 85%;
}