div#content {
    margin: 70px auto;
    width: 500px;
    border-left: 3px dashed yellow;
}

div#content h2 {
    font-family: 'Lato', sans-serif;
    color:  #205277;
    font-size: 40px;
    margin-left: 10px;
}

form {
    margin: 10px auto;
}

form input, textarea {
    width: 96%;
    margin: 5px 2%;
}

div#content p {
   font-family: 'Lato', sans-serif;
   color:  #205277;
}

ul {
    margin: 5px;
    list-style: none;
}

ul li {
    color: red;
    font-family: 'Lato', sans-serif;;
}