div#content {
    margin: 70px 0;
    border-left: 3px dashed yellow;
}

div#content h2, div#content p {
    margin: 10px;
    font-family: 'Lato', sans-serif;
    color:  #205277;
}

div#content h2 {
    font-size: 40px;
}