 {% if tags %}
    <div class="tags">
        {% for tag in tags %}
            <a class="tag" href="{% url 'tags#tagged_entry_list' tag.slug %}" title="{{ tag.description }}">{{ tag.name }}</a>
        {% endfor %}
    </div>
{% endif %}