{% extends 'base.html' %}

{% block title %}Formularz kontaktowy{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/contact.css"/>
{% endblock %}

{% block content %}
    <div id="content">
        <h2>Formularz kontaktowy</h2>
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Wyślij">
        </form>
    </div>
{% endblock content %}