{% extends 'base.html' %}

{% block title %}Dziękuje{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/thank_you.css"/>
{% endblock %}


{% block content %}
    <div id="content">
        <h2>Dziękuje za wysłanie wiadomości :)</h2>
        <p>Postaram się odpowiedzieć niebawem.</p>
    </div>
{% endblock %}